body{
  background-image: url('https://i.pinimg.com/736x/05/26/a4/0526a4152615c3f59f5f70d69912ccc6--all-white-shoes-all-white-sneakers.jpg');
  background-repeat: no-repeat;
  background-size: cover;
   font-family: 'Barrio';font-size: 22px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    align: center;
    margin: 0 auto;
}
th, td {
    padding: 5px;
    text-align: left;
}
#sizeButton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#brandButton {
    background-color: #4CAF50;
    border: none;
    color: white;
    height:50px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#allFilter {
    background-color: #4CAF50;
    border: none;
    color: white;
    height:50px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#addBtn {
    background-color: #4CAF50;
    border: none;
    color: white;
    height:50px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
input[type=text]{

  height:45px
}
input[type=number]{

  height:45px
}
input[type=number]{

  height:45px
}
/*table#t01 {
    width: 100%;
    background-color: #f1f1c1;
}*/
